In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [32]:
with open('json/gastos_2020.json', 'r') as file:
    data = json.load(file)

# Crear un DataFrame de Pandas a partir de los datos JSON
# Los nombres de las columnas están en "lszFields" y los datos en "lkValues"
df = pd.DataFrame(data['lkValues'], columns=data['lszFields'])

df.head()  # Mostrar las primeras filas del DataFrame para verificar

  szConcept       dDate   fValue
0  Hipoteca  01/01/2020  2500.00
1  Gasolina  02/01/2020    55.90
2    Comida  03/01/2020    24.84
3       Luz  05/01/2020    68.00
4    Comida  07/01/2020    23.84

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   szConcept  70 non-null     object
 1   dDate      70 non-null     object
 2   fValue     70 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.8+ KB

In [54]:
# Convertir la columna 'dDate' en un objeto datetime
df['dDate'] = pd.to_datetime(df['dDate'], dayfirst=True)
df

   szConcept      dDate    fValue
0   Hipoteca 2020-01-01   2500.00
1   Gasolina 2020-01-02     55.90
2     Comida 2020-01-03     24.84
3        Luz 2020-01-05     68.00
4     Comida 2020-01-07     23.84
..       ...        ...       ...
65  Internet 2020-11-15     80.00
66  Hipoteca 2020-12-01   2500.00
67       Luz 2020-12-05     72.00
68   Nominas 2020-12-10  19000.00
69  Internet 2020-12-15     80.00

[70 rows x 3 columns]

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   szConcept  70 non-null     object
 1   dDate      70 non-null     datetime64[ns]
 2   fValue     70 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.8+ KB

In [56]:
# Establecer la columna 'dDate' como el índice del DataFrame
df.set_index('dDate', inplace=True)

df.head()

           szConcept   fValue
dDate
2020-01-01  Hipoteca  2500.00
2020-01-02  Gasolina    55.90
2020-01-03    Comida    24.84
2020-01-05       Luz    68.00
2020-01-07    Comida    23.84

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 2020-01-01 to 2020-12-15
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   szConcept  70 non-null     object
 1   fValue     70 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB